<!DOCTYPE html>
    <html lang="en">
        <body>
            <a href='{{first_tag}}'><h3>tour_recommendation 1 </h3></a>
            <br>
            <a href='{{second_tag}}'><h3>tour_recommendation 2</h3></a>
            <br>
            <a href='{{third_tag}}'><h3>tour_recommendation 3</h3></a>
            <br>
            <a href='{{fourth_tag}}'><h3>tour_recommendation 4</h3></a>
            <br>
            <a href='{{fifth_tag}}'><h3>tour_recommendation 5</h3></a>
            <br>
        </body>
    </html>