<!DOCTYPE html>
<html lang="zh-tw">
    <head>
        <link rel="stylesheet" href="../static/styles/food.css">
        <link rel="stylesheet" href="../static/styles/Align.css">
    </head>
    <header> 
        <div id="fixed_bar_inside">
        <div class="container fixed_content">
            <figure>
                <a href="/Hualien">
                    <h1>花蓮網主頁</h1>
                </a>
            </figure>
            <div class="fixed_menu">
                <nav id="fixed_nav">
                    <div class="nav_button"><span></span>
                        <div id="pc_nav">
                            <ul id="nav" class="nav">
                                <li class="tab-1"><a href="/Hualien/spot">花蓮景點</a></li>
                                <li class="tab-2"><a href="/Hualien/hotel">花蓮飯店</a></li>
                                <li class="tab-4"><a href="/Hualien/food">美食特產</a></li>
                                <li class="tab-5"><a href="/Hualien/transportation">交通資訊</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div> 
            </div>
            </div>
    </header>


    <div class="main">
        

        <div class="contain">
            <div id="title-tab"><dl><dd><a href="/Hualien" title="花蓮">花蓮</a></dd><dd>&gt;</dd><dd>花蓮美食特產</dd></dl></div>
            <h2 class="bottom-line"><b>美食特產</b></h2>
            <div class="food_box" id="food_box">
    
                <figure>
                    <img class="lazyload" src="https://www.travelking.com.tw/tourguide/hualien/images/pic/eat-top1.jpg"alt="液香扁食" >
                    <div class="food_title">液香扁食<br> 花蓮市信義街42號</div>
                    <div class="delicacies"id="easeout">
                        <p><text style="background-color:cadetblue">"傳承七十多年的美食人氣始終不墜，札實的口感皮薄滑嫩，精心挑選的內餡鮮美可口，加上清爽湯頭所組成的好滋味深受在地人及遊客的喜愛，可說是花蓮小吃最佳代言人。"</text><br><br> <text style="background-color:orangered">"營業時間：09:00-賣完"</text></p>
                    </div>
                </figure>
                <figure>
                    <img class="lazyload" src="https://www.travelking.com.tw/tourguide/hualien/images/pic/eat-top2.jpg" alt="廟口紅茶" >
                    <div class="food_title">廟口紅茶<br> 花蓮市成功街216號</div>
                    <div class="delicacies"id="easeout">
                        <p ><text style="background-color:cadetblue">"從二樓透過鋼管傳送到一樓的紅茶、酸梅和杏仁茶保留濃濃的古早味，是道地花蓮人最熟悉的味道。除了最著名的紅茶飲料外，還有濃郁的花生湯和蛋餅、麵包、小西點等。"</text><br><br> <text style="background-color:orangered">"營業時間：06:00-23:00"</text></p>
                    </div>
                </figure>
                <figure>
                    <div id="easein">
                        <img class="lazyload" src="https://www.travelking.com.tw/tourguide/hualien/images/pic/eat-top3.jpg" alt="光復糖廠冰" >
                    </div>
                    <div class="food_title">光復糖廠冰<br> 花蓮縣光復鄉大進村糖廠街19號</div>
                    <div class="delicacies"id="easeout">
                        <p><text style="background-color:cadetblue">"不論是夏天還是冬天，只要來到光復糖廠就不能錯過！便宜又好吃的冰淇淋有各種口味，鮮乳、紅豆、鮮奶芋頭和巧克力是人氣冰品，還有洛神花、榴槤等特殊商品，香濃又好吃。"</text><br><br><text style="background-color:orangered">"營業時間：08:00-20:00"</text> </p>
                    </div>
                </figure>
                <figure>
                    <img class="lazyload" src="https://www.travelking.com.tw/tourguide/hualien/images/pic/eat-top4.jpg" alt="公正包子">
                    <div class="food_title">公正街包子<br> 花蓮市中山路199-2號</div>
                    <div class="delicacies"id="easeout">
                        <p><text style="background-color:cadetblue">"來花蓮，包子是一定要吃的！超有名氣的公正街包子是花蓮著名的排隊美食，商店前不論平假日始終都有排隊人潮。白白胖胖的包子個頭比一般小籠包大，紮實的口感深受遊客喜愛。"</text><br><br> <text style="background-color:orangered">"營業時間：06:00-19:00、24H"</text></p>
                    </div>
                </figure>
                <figure>
                    <img class="lazyload" alt="海埔蚵仔煎" src="https://www.travelking.com.tw/tourguide/hualien/images/pic/eat-top5.jpg">
                    <div class="food_title">海埔蚵仔煎<br> 花蓮縣花蓮市自由街86號旁</div>
                    <div class="delicacies"id="easeout">
                        <p><text style="background-color:cadetblue">"大顆又新鮮的蚵仔和大把青菜及雞蛋所組成的蚵仔煎雖然每個夜市都有，但花蓮海埔蚵仔煎就是不一樣，特調的醬汁及軟嫩鮮甜的口感讓人胃口大開，加上鮮美無比的蛤犡湯真是讓人難忘。"</text><br><br><text style="background-color:orangered"> "營業時間：17:30-23:00"</text></p>
                    </div>
                </figure>
                <figure>
                    <img class="lazyload" alt="炸蛋(彈)葱油餅" src="https://www.travelking.com.tw/tourguide/hualien/images/pic/eat-top6.jpg">
                    <div class="food_title">炸蛋(彈)葱油餅<br> 花蓮市復興街</div>
                    <div class="delicacies"id="easeout">
                        <p><text style="background-color:cadetblue">"炸過的餅皮金黃酥脆又有嚼勁，最特別的是餅中間包了一顆荷包蛋，一口咬下還有爆漿的口感，特調的醬料和餅皮及蛋黃同時入口時所產生的美味絕對讓你大呼過癮。"</text><br><br> <text style="background-color:orangered">"營業時間：13:00~賣完"</text></p>
                    </div>
                </figure>
            </div>
        </div>
    </div>

</html>
